<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Gaston Proyect System </title> 
    <link rel="icon" href="/imagenes/Log.jpeg"> 
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-info">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="/">
            <img src='/imagenes/utb-logotipo-blanco.png' alt="" width="120" height="60" class="d-inline-block align-text-top-center" ></img>
              
              </a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/proyectos">Proyectos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/propuesta">Propuestas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/donaciones">Donaciones</a>
              </li>
              <li class="nav-item" >
                <a class="nav-link active" aria-current="page" href="/login">Iniciar sección</a>
              </li>   
          </ul>  
        </div>
        </div>
    </nav>
    <div>
        <div>
            <div aling="center">
                <img src='./imagenes/inscripciones.jpg'style="width: 100%; height: auto;"></img>
                <div class="container p-2 text-white " align="left" style="position: absolute; top: auto; left: 20%; transform: translate(-50%,-490%); width: 16%; height: auto;">
                    <div class="container" align="center"><h3>Inscripciones</h3></div>
                </div>

                <div class="container p-2 text-white" align="left" style="position: absolute; top: auto; left: 9%; transform: translate(6%,-180%);  width: auto;">
                    <div class="container" align="left">
                        <p>
                            Tienes un problema que puede ser solucionado 
                           <br>por medio de soluciones de ingenieria
                           <br>estas en el lugar indicado para solucionarlo
                           <br>sigue bajando para conocer mas.
                        </p>  
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    <div>
        <br>
        <div aling="center">
            <h1 align="center">¡Tienes lista tu propuesta!</h1>
        </div>
            <img src='./imagenes/inscribir.png'alt="" style="position: relative; top: 60px; left: 50%; transform: translate(-50%,-50%);"></img>
           <div>
               <br>
               <h3 align="center">Que esperas para mandarla</h3>
           </div>
           <div class="mb-3">
            <div class="form-group row">
              <div class="col-sm-10">
                <br>
                <a href="/inscribir_propuesta" class="btn btn-outline-warning" style="position: absolute; top: auto; left: 50%; width: 16%; height: auto"> Inscribir propuesta</a>
                <a href="/inscribir_cliente" class="btn btn-outline-warning"   style="position: absolute; top: auto; left: 33%; width: 16%; height: auto;"> Inscribir cliente</a>
                <br><br>
              </div>
            </div>
            
        </div>
        
    </div>
    <br>
        <footer class="page-footer font-small bg-info">                
            <div class="footer-copyright text-center py-3">© 2020 Copyright:
                <a href="https://www.utb.edu.co"> utb.edu.co</a>
            </div>
        </footer>
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>